:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    accent-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    outline: none;
}

svg {
    width: 100%;
}

main {
    padding: 2em 0;
}

.container {
    margin: 0 1.6rem;
}


.logo {
    font-size: 2rem;
    font-weight: 600;
}

.description {
    color: grey;
}

.card {
    display: block;
    padding: 2rem;
    border: 2px solid black;
    border-radius: .6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .radios-wrapper {
        border-bottom: 1px solid #CDCDCD;
        padding-bottom: .8rem;
        margin-bottom: 1rem;

        .input-radio {
            margin-top: .6rem;
            margin-right: 1rem;
            display: inline-block;
        }
    }

    .selects-wrapper {
        display: block;
        margin: .5rem 0 1rem 0;

        .input-select {
            margin-bottom: 1rem;

            .custom-label {
                font-size: .9rem;
            }

            select {
                display: block;
                margin-top: .6rem;
                width: 100%;
                padding: .6rem;
                border-radius: 6px;
                appearance: none;
                background-color: #F5f5f7;
            }

            &.third,
            &.ppm {
                display: none;
            }
        }
    }


    .output {
        background-color: #F5f5f7;
        padding: 1rem;
        border: 2px dotted black;
        border-radius: 8px;

        .resistor {
            margin-bottom: 1rem;
            margin-top: 2rem;

            .third-band,
            .ppm {
                display: none;
            }
        }

        .value {
            display: flex;

            &>p {
                margin-right: 1rem;
            }
        }
    }
}

.copyright-text {
    .author-link {
        color: black;
        text-decoration: none;
    }
}

@media (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 2rem 0 2rem 2rem;

        .selects-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin-bottom: 0;
        }

        .output {
            justify-self: center;
            padding: 1rem 3rem;
        }
    }

    .container {
        margin: 0 4rem;
    }
}

// Utility Classes
.fw-500 {
    font-weight: 500;
}